services:
  dev_service:
    build:
      context: .
      dockerfile: Dockerfile

    container_name: ${PROJECT_NAME}-dev
    
    environment:
      - DISPLAY=$CONTAINER_DISPLAY
      - QT_X11_NO_MITSHM=1
      - XAUTHORITY=/home/rosuser/.Xauthority  # X11 auth (optional)
      # Lines with tag "X11 auth (optional)" aren't necessary if you use
      # permissive settings such as `xhost +` or similar
    
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    
    ports:
      - "${DEBUG_PORT:-5678}:5678"
      - "${JUPYTER_PORT:-8888}:8888"
    
    volumes:
      - .:/home/rosuser/repo:rw
      - ${DATASET}:/home/rosuser/repo/dataset:rw
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ${XAUTHORITY:-/run/user/1000/gdm/Xauthority}:/home/rosuser/.Xauthority:rw  # X11 auth (optional)
    
    command: /bin/bash
    stdin_open: true
    tty: true
